{% extends "base.html" %}

{% block title %}{{ category.name }} – Магазин{% endblock %}

{% block content %}

<section class="search-section">
    <div class="container">
        <form method="get" class="search-form">
            <input type="text" name="search" placeholder="🔍 Поиск товаров..." class="search-input">

            <select name="category" class="category-select">
                <option value="">Все категории</option>

                {% for cat in categories %}
                    <option value="{{ cat.id }}"
                        {% if cat.id == category.id %}selected{% endif %}>
                        {{ cat.name }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit" class="search-btn">Найти</button>
        </form>
    </div>
</section>

<section class="products-section">
    <div class="container">
        <h2 class="section-title">{{ category.name }}</h2>

        <div class="products-grid">
            {% for product in catproducts %}
            <a href="{% url 'detail' product.id %}" style="text-decoration:none">
                <div class="product-card">
                    <img src="{{ product.image.url }}" class="product-image">

                    <div class="product-info">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <p class="product-price">{{ product.price }} ₸</p>
                        <p class="product-description">{{ product.description }}</p>
                        <button class="product-btn">Подробнее</button>
                    </div>
                </div>
            </a>
            {% empty %}
                <p>В этой категории пока нет товаров.</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}